@font-face
{
	font-family: 'dayrom';
	src: url('polices/dayrom.eot');
	src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
		 url('polices/dayrom.woff') format('woff'),
		 url('polices/dayrom.ttf') format('truetype'),
		 url('polices/dayrom.svg#dayrom') format('svg');
	font-weight: normal;	 
}
@media all and (min-width: 400px) and (max-width: 1280px)
{
	body
	{
		min-width: 400px;
	}
}
body
{
	text-align: justify;
	border: 1px #CFD8DC solid;
	font-family: Georgia;
	display: flex;
}
#apropos, #parcourspro
{
	vertical-align: top;
} 
#apropos
{
	background-color: #d32f2f;
	max-height: 800px;
	width: 350px;
	margin-right: 3%;
	order: 1;
}
h1
{
	font-size: 2.7em;
	font-family: dayrom, sans-serif;
}
h2
{
	font-family: dayrom, sans-serif;
	font-size: 1.2em;
}
h1 + p
{
	border-bottom: 1px #d32f2f solid;
}
h1, h2, h4
{
	text-transform: uppercase;
}
.couleurouge
{
	color: #d32f2f;
}
.robin
{
	border-radius:50%;
	width:120px;
	height:120px;
}
aside p
{
	text-align: center;
}
aside h2
{
	text-align: center;
	border: 1px #212121 solid;
	background-color: #9E9E9E;
	color: #d32f2f;
}
p i
{
	font-size: 2.5em;
}
#parcourspro
{
	order: 2;
}
article h2, footer h2
{
	border-bottom: 1px #d32f2f solid;
}
#date1, #description1
{
	vertical-align: top;
}
ul 
{
	list-style-type: none;
}
ul, h4, article p, h2 + p
{
	font-size: 0.8em;
}
